/////////////////////////////////
// ZONE
/////////////////////////////////
zone = 'x'
/////////////////////////////////
// GRID SETTINGS
// Offset - used to add spaceing between copy width and site width
/////////////////////////////////
base_font_size = 16
unit = base_font_size / 1vw
column_width = 48
gutter_x_size = 24
gutter_y_size = 24
offset = 0 // NOTE: Adds spaceing between copy width and site width
numerator_range = 1 2 3 4 5  // NOTE: Numberators can not excced 2 digits
denominator_range = 1 2 3 4 5 6 7 8 9 10 11 12 14 16
zone_min = 17
zone_max = 17
zone_size = 17

zone_max_media = 1548px
zone_min_media = 1081px

z = zone
gx = ((gutter_x_size) / unit)
gy = ((gutter_y_size) / unit)

// DEVELOPMENT
dev_zone_color = #9C27B0

copy_width = ((((zone_min - (offset)) * (column_width + gutter_x_size) - gutter_x_size) / unit))
gutter_x = ((gutter_x_size) / base_font_size)

global-reset()
/////////////////////////////////
// OUTPUT STYLES
/////////////////////////////////

poxy-x(zone, zone_min, zone_max, numerator_range, gutter_x_width, offset)
  for n in numerator_range
    for d in denominator_range
      \[class\*\={zone}{n}{d}\],
      \[class\*\={zone}{n}{d}\]._1__ ~ *,
      \[class\*\={zone}{n}{d}\]._2__ ~ * > *,
      \[class\*\={zone}{n}{d}\]._3__ ~ * > * > *,
      \[class\*\={zone}{n}{d}\]._3a__ ~ * > * > *:nth-child(1),
      \[class\*\={zone}{n}{d}\]._3b__ ~ * > * > *:nth-child(2),
      \[class\*\={zone}{n}{d}\]._3c__ ~ * > * > *:nth-child(3)
        lost-column n/d copy_width gutter_x

poxy-y(zone, zone_min, zone_max, numerator_range, gutter_x_width, offset)
  for n in numerator_range
    for d in denominator_range
      \[class\*\={zone}\_{n}{d}\],
      \[class\*\={zone}\_{n}{d}\]._1__ ~ *,
      \[class\*\={zone}\_{n}{d}\]._2__ ~ * > *,
      \[class\*\={zone}\_{n}{d}\]._3__ ~ * > * > *,
      \[class\*\={zone}\_{n}{d}\]._3a__ ~ * > * > *:nth-child(1),
      \[class\*\={zone}\_{n}{d}\]._3b__ ~ * > * > *:nth-child(2),
      \[class\*\={zone}\_{n}{d}\]._3c__ ~ * > * > *:nth-child(3)
        poxy-y n/d copy_width gutter_x

poxy-x(zone, zone_min, zone_max, numerator_range, gutter_x_size, offset)
poxy-y(zone, zone_min, zone_max, numerator_range, gutter_x_size, offset)

// section
// padding 2rem 0
// border-top rgba(guide_color, guide_opacity) solid 1px !important
// border-bottom rgba(#000, .08) solid 1px !important
// border none !important
// background transparent
// &:before,
// &:after
//   display none
//   border-bottom rgba(guide_color, guide_opacity) solid 1px !important
//   border-top rgba(#000, .08) solid 1px !important
//   opacity .8
//   background-image linear-gradient(45deg, rgba(#463c2c,1) 0%, rgba(#fdd333,1) 26%, rgba(#fffcaf,1) 35%, rgba(#b67b03,1) 55%, rgba(#341c02,1) 80%, rgba(#160f07,1) 100%)
//   height 2px
//   width 100%
// &:nth-child(2n+2)
//   background rgba(#000, .2)
// &:before
//   border-top rgba(guide_color, guide_opacity) solid 1px
// &:after
//   border-bottom rgba(guide_color, guide_opacity) solid 1px


section
  ps gy
  pn gy*2
  me -(gx)
  &:nth-child(2n+2)
    bg rgba(#000, .2)

header
  w copy_width

.sw
  mn -(gy)
  mw -(gx)

.cw
  bgc #999
  pe gx
  box-sizing content-box
  lost-center ((((zone_min - (offset)) * (column_width + gutter_x_size) - gutter_x_size) / unit) + ((gutter_x_size) / unit))

.cw > *
  float left
  mw gx
  ms gy
  of hidden
